################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/VoidProject/VoidProject/APP.cpp
/VoidProject/.vs/VoidProject/v15/.suo
/VoidProject/VoidProject/Debug/vc141.idb
